<header class="bg-slate-200 shadow-inner h-17 text-white py-4 px-6">
    <nav class="container mx-auto">
        <ul class="mb-2 sm:mb-0 flex justify-between items-baseline" id="nav__items">
          <li id="nav_list"><a href="/" class="text-2xl no-underline text-black">Memo</a></li>
          <li id="nav_list"><a href="/add-note" class="btn bg-slate-300 border-transparent px-3 py-1 text-lg rounded-lg text-black no-underline">Add Note</a></li>
        </ul>
      </nav>
</header>