<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="style.css">
    <title>Memo - Add Note</title>
</head>
<body>
  <header class="bg-slate-200 shadow-inner h-17 text-white py-4 px-6">
    <nav class="container mx-auto">
        <ul class="mb-2 sm:mb-0 flex justify-between items-baseline">
          <li class="flex"><a href="/home.html" class="text-2xl no-underline text-black">Memo</a></li>
          <li class="flex"> <a href="/add_note.html" class="btn__addnote bg-slate-300 border-transparent px-3 py-1 text-lg rounded-lg text-black no-underline">Add Note</a></li>
        </ul>
      </nav>
  </header>
  <main class="container">
      <form class="mx-auto mt-10 max-w-[650px] mx-auto bg-[#e8f1f1] shadow-2xl rounded-lg" action="home.html" method="POST" >
        
          <div class="flex flex-col px-10 py-4">
              <h2 class="text-xl font-semibold leading-7 text-gray-900 mb-5">📒 New Memo:</h2>
              <label for="title" class="mb-2">Title:</label>
              <input type="text" name="title" class="w-[100%] mb-3 p-2 rounded-md" id="title"/>
              <label for="Message" class="mb-2">Message:</label>
              <textarea rows="5" name="message" class="w-[100%] mb-3 p-2 rounded-md"  id="message" style="resize: none;"></textarea>
              <button class="mt-3 p-2 w-[20%] bg-slate-300 transition duration-150 ease-out hover:bg-transparent" type="submit">Add Memo</button>
          </div>
          
      </form>
  </main>
</body>
</html>